
<ion-header no-border>
  <ion-navbar  style="background: none; border-bottom: none"  >
      <ion-title>
        People
      </ion-title>
      <ion-buttons end>
            
        <button ion-button icon-only (click)="searchUser()" >
            <ion-icon name="search" class="dark"></ion-icon>
        </button>
        <button ion-button icon-only >
            <ion-icon name="md-more" class="dark"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar  style="z-index: 2 ">
      <ion-segment  [(ngModel)]="peopleView" color="dark">

        <ion-segment-button value="friend" (click)="searchInit()">
          친구
      </ion-segment-button>

      <ion-segment-button value="mentee" (click)="searchInit()" [hidden] ="status==='true'">
         멘티
      </ion-segment-button>

      <ion-segment-button value="mentor" (click)="searchInit()" [hidden] ="status=='false'">
          멘토
      </ion-segment-button>
      
      
    </ion-segment>
    </ion-toolbar>

<ion-toolbar  class="people-header"  style="z-index: 1; border-bottom: none">
    <ion-searchbar [(ngModel)]="searchFriend" placeholder="Search for friend or username" ></ion-searchbar>
</ion-toolbar>
    
</ion-header>

<ion-content  fullscreen="true"   no-paddding shrink-header  [headerToHide]="'people-header'">
  
  

  <div  *ngIf="peopleView==='friend'" >
    <div class="empty-list" *ngIf="friends && friends.length == 0">
      <h1><ion-icon name="md-contacts"></ion-icon></h1>
      <p>Uh-oh! You have not added any friends right now.</p>
      
    </div>
    <ion-list class="avatar-list" *ngIf="friends && friends.length > 0">
      
      <ion-item *ngFor="let friend of friends | friendFilter:searchFriend" no-lines tappable (click)="viewUser(friend.$key)">
        <ion-fab middle right>
          <button ion-fab mini tappable (click)="message(friend.$key); $event.stopPropagation();"><ion-icon name="md-text" class="success"></ion-icon></button>
        </ion-fab>
        <ion-avatar item-left>
          <img src="{{friend.profileImg}}">
        </ion-avatar>
        <h2>{{friend.name}}</h2>
        <p>@{{friend.username}}</p>
      </ion-item>
    </ion-list>
  </div>

  <div  *ngIf="peopleView==='mentor'" >
    <div class="empty-list" *ngIf="mentors && mentors.length == 0">
      <h1><ion-icon name="md-contacts"></ion-icon></h1>
      <p>Uh-oh! You have not added any friends right now.</p>
      
    </div>
    <ion-list class="avatar-list" *ngIf="mentors && mentors.length > 0">
      
      <ion-item *ngFor="let mentor of mentors | friendFilter:searchFriend" no-lines tappable (click)="viewUser(mentor.$key)">
        <ion-fab middle right>
          <button ion-fab mini tappable (click)="message(mentor.$key); $event.stopPropagation();"><ion-icon name="md-text" class="success"></ion-icon></button>
        </ion-fab>
        <ion-avatar item-left>
          <img src="{{mentor.profileImg}}">
        </ion-avatar>
        <h2>{{mentor.name}}</h2>
        <p>@{{mentor.username}}</p>
      </ion-item>
    </ion-list>
  </div>

  <div  *ngIf="peopleView==='mentee'" >
    <div class="empty-list" *ngIf="mentees && mentees.length == 0">
      <h1><ion-icon name="md-contacts"></ion-icon></h1>
      <p>Uh-oh! You have not added any friends right now.</p>
      
    </div>
    <ion-list class="avatar-list" *ngIf="mentees && mentees.length > 0">
      
      <ion-item *ngFor="let mentee of mentees | friendFilter:searchFriend" no-lines tappable (click)="viewUser(mentee.$key)">
        <ion-fab middle right>
          <button ion-fab mini tappable (click)="message(mentee.$key); $event.stopPropagation();"><ion-icon name="md-text" class="success"></ion-icon></button>
        </ion-fab>
        <ion-avatar item-left>
          <img src="{{mentee.profileImg}}">
        </ion-avatar>
        <h2>{{mentee.name}}</h2>
        <p>@{{mentee.username}}</p>
      </ion-item>
    </ion-list>
  </div>
  


</ion-content>