<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" >
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
         <ion-segment [(ngModel)]="segment" color="dark">
        <ion-segment-button value="all" (click)="toggle()">
            {{headerTitle}} 일정
        </ion-segment-button>
        <ion-segment-button value="favorites" (click)="toggle()">
            타임 테이블
        </ion-segment-button>
    </ion-segment>  
    
    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content fullscreen="true" >

   
      
<ion-list  *ngIf="segment==='all'">
  <ion-item-sliding *ngFor=" let event of events" #slidingItem [attr.track]="angular">
    <ion-item>
        <h3>{{event.title}}</h3>
          <p>
            {{convert12H(event.start)}} &mdash;
            {{event.end}}
          </p>
      
    </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="deleteEvent(event)" color="danger">
          <ion-icon name="trash"></ion-icon>
      </button>
      
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">Unread</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

</ion-content>


<ion-footer *ngIf="segment==='all'">
    <ion-toolbar>
        <ion-input type="text" placeholder="일정을 입력해주세요"   [(ngModel)]="newEventTitle"></ion-input>
        <ion-buttons end>
        <button ion-button (click)="pushEvent()" full>
            <ion-icon name="add"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
