<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="this.viewController.dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{ title }}
        </ion-title>    
    </ion-navbar>
</ion-header>

<ion-content fullscreen>


</ion-content>

<ion-footer>
    <ion-toolbar>
        <button (click)="sendPost()" full>Post</button>
    </ion-toolbar>
</ion-footer>