<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

         <ion-segment [(ngModel)]="segment" color="dark">
        <ion-segment-button value="all" (click)="toggle()">
            {{headerTitle}} 일정
        </ion-segment-button>
        <ion-segment-button value="timeTable" (click)="toggle()" >
            타임 테이블
        </ion-segment-button>
    </ion-segment>  
    
    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content fullscreen="true" overflow-scroll="true">

   
      
<ion-list  *ngIf="segment==='all'">
  <ion-item-sliding *ngFor=" let event of events" [attr.track]="event.tracks[0] | lowercase">
    <ion-item>
        <div (click)="goToEventDetail(event)">
        <h3>
        <ion-icon *ngIf="event.isDone"  name="checkmark"></ion-icon>
            {{event.title}}
        </h3>
        
        <p *ngIf="event.end.getTime() !== event.start.getTime()">
            {{convert12H(event.start)}} &mdash;
            {{convert12H(event.end)}}
        </p>
               
        <button *ngIf="event.start.getTime() === event.end.getTime()" (click)="segment='timeTable'" style="background: #fff" >
            <p >
                시간을 지정해 주세요.
            </p>
        </button>
        </div>
        <ion-avatar item-end (click)="selectMentor(event)">
             <img *ngIf="event.mentor" [src]="event.mentor.avatar">
             <img *ngIf="!event.mentor" src="assets/img/noavatar.png">
        </ion-avatar>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="deleteEvent(event)" color="danger">
          <ion-icon name="trash"></ion-icon>
      </button>
      
    </ion-item-options>

    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">
          <ion-icon name="color-palette"></ion-icon>
      </button>
        <button ion-button (click)="unread(item)">
          <ion-icon name="camera"></ion-icon>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<mwl-calendar-day-view 
    *ngIf="segment==='timeTable'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>

</ion-content>


<ion-footer *ngIf="segment==='all'">
    <ion-toolbar>
        <ion-input type="text" placeholder="할 일 추가"   [(ngModel)]="newEventTitle"></ion-input>
        <ion-buttons end>
        <button ion-button (click)="pushEvent()" full>
            <ion-icon name="add"></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
