page-calendar{

.my-bar {
  height: 40px;
}

    
.cal-day-selected,
    .cal-day-selected:hover {
      background-color: deeppink !important;
    }
 .odd-cell {
      background-color: pink !important;
    }
}