<ion-header>
  <ion-navbar primary>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="profile-image">
      <img *ngIf="user?.photoURL" [src]="user?.photoURL">
      <img *ngIf="!user?.photoURL" src="assets/img/noavatar.png">
      <div padding>
        <button full primary (click)="updatePicture()">Update Picture</button>
      </div>
  </ion-card>
  <ion-card>
    <ion-item *ngIf="user?.id">
        <ion-label floating>UserId</ion-label>
        <ion-input type="text" disabled=true [value]="user?.id" ></ion-input>
    </ion-item>

    <ion-item *ngIf="!user?.id">
        <ion-input type="text" placeholder="ID를 생성해주세요" [(ngModel)]="test" ></ion-input>
        
        <button ion-button outline item-end (click)="createUserId(test)" >
            <ion-icon name="add"></ion-icon>
        </button>
        
    </ion-item>

    <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>About me</ion-label>
        <ion-textarea type="text" [(ngModel)]="user.about"></ion-textarea>
    </ion-item>
    <div padding>
        <button full primary (click)="updateProfile()">Update Profile</button>
    </div>
  </ion-card>

<div padding>
  <button full dark (click)="logout()">Logout</button>
</div>
</ion-content>