<ion-header>
  <ion-navbar primary>
    <ion-title>
      Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
  <div class="profile">
      <img src = "{{user.profileImg}}" imageViewer>
      
      <ion-fab right bottom>
        <button ion-fab color="transparent" (click)="setPhoto()">
          <ion-icon name="camera" class="dark"></ion-icon>
        </button>
      </ion-fab>

  </div>

  <h4>
      <span tappable (click)="setName()">{{user.name}} </span>
      <ion-icon name="md-create" *ngIf="user.isMentee == 'true'" class="firebase"></ion-icon>
      <ion-icon name="md-school" *ngIf="user.isMentee == 'false'" class="facebook"></ion-icon>
  </h4>
  <p tappable *ngIf="user.id" class="username">@{{user.id}}</p>
  <p tappable *ngIf="!user.id" (click)="setUserId()" class="dark"> ID를 생성해주세요</p>

  <ion-card>
    <ion-item *ngIf="user.id">
        <ion-label floating>UserId</ion-label>
        <ion-input type="text" disabled=true [value]="user.id" ></ion-input>
    </ion-item>

    <ion-item *ngIf="!user.id">
        <ion-input type="text" placeholder="" [(ngModel)]="test" ></ion-input>
        
        <button ion-button outline item-end (click)="createUserId(test)" >
            <ion-icon name="add"></ion-icon>
        </button>
        
    </ion-item>

    <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>About me</ion-label>
        <ion-textarea type="text" [(ngModel)]="user.about"></ion-textarea>
    </ion-item>
    <div padding>
        <button full primary (click)="updateProfile()">Update Profile</button>
    </div>
  </ion-card>

<div padding>
  <button full dark (click)="logout()">Logout</button>
</div>
</div>
</ion-content>