
<!--***********  Header with segment  ***********-->
<ion-header no-shadow no-border>
  <ion-navbar  no-border-top >
  
       <ion-segment [(ngModel)]="chartView" color="dark">
      <ion-segment-button value="academic">
        내신성적
      </ion-segment-button>
      <ion-segment-button value="mock" >
        모의고사성적
      </ion-segment-button>
      <ion-segment-button value="achievement">
        계획성취도
      </ion-segment-button>
      <ion-segment-button value="term">
        통계
      </ion-segment-button>
      
    </ion-segment>
 
  </ion-navbar >
  <ion-toolbar no-padding no-border-top >
    <div *ngIf="chartView==='academic'">
    <ion-row >

      <ion-select interface="popover" [(ngModel)]="a_grade">
          <ion-option  value="1st" selected>
              1학년
          </ion-option>
          <ion-option  value="2nd"> 
              2학년
          </ion-option>
          <ion-option  value="3rd"> 
              3학년
        </ion-option>
      </ion-select>
      <ion-select interface="popover" [(ngModel)]="a_semester">
          <ion-option value="1st" selected>
              1학기
          </ion-option>
          <ion-option value="2nd">
              2학기
          </ion-option>
      </ion-select>
      <ion-select interface="popover" [(ngModel)]="a_exam">
          <ion-option value="0_middle" selected>
              중간고사
          </ion-option>
          <ion-option value="1_final">
              기말고사
          </ion-option>
      </ion-select>
      
      <ion-col col-2>
      <ion-buttons end>
          <button ion-button icon-only (click)="checkGrade(chartView)" >
              보기
          </button>
          </ion-buttons>
      </ion-col>
    </ion-row>
   
    </div>

    <div *ngIf="chartView==='mock'">
        <ion-row >
            <ion-select interface="popover" [(ngModel)]="m_grade">
                    <ion-option  value="1st" selected>
                        1학년
                    </ion-option>
                    <ion-option  value="2nd"> 
                        2학년
                    </ion-option>
                    <ion-option  value="3rd"> 
                        3학년
                    </ion-option>
            </ion-select>
          <ion-select interface="popover" *ngIf="m_grade != '3rd'" [(ngModel)]="m_host" placeholder="주최기관">
              <ion-option selected value="교육청">
                  교육청
              </ion-option>
              <ion-option value="사설">
                  사설모의고사
              </ion-option>
          </ion-select>
          <ion-select interface="popover" *ngIf="m_grade == '3rd'" [(ngModel)]="m_host" placeholder="주최기관">
                <ion-option selected value="교육청">
                    교육청
                </ion-option>
                <ion-option value="평가원">
                    평가원
                </ion-option>
                <ion-option value="사설">
                    사설모의고사
                </ion-option>
            </ion-select>
            <ion-select interface="popover" *ngIf="m_grade != '3rd' && m_host == '교육청'" [(ngModel)]="m_month" placeholder="월 선택">
                    <ion-option selected value="3">
                        3월
                    </ion-option>
                    <ion-option value="6"> 
                        6월
                    </ion-option>
                    <ion-option value="9">
                        9월
                    </ion-option>
                    <ion-option value="11">
                        11월
                    </ion-option>
                </ion-select>
                <ion-select interface="popover" *ngIf="m_grade == '3rd' && m_host == '교육청'" [(ngModel)]="m_month" placeholder="월 선택">
                        <ion-option selected value="3">
                            3월
                        </ion-option>
                        <ion-option value="4">
                            4월
                        </ion-option>
                        <ion-option value="7">
                            7월
                        </ion-option>
                        <ion-option value="10">
                            10월
                        </ion-option>
                    </ion-select>  
                    <ion-select interface="popover" *ngIf="m_grade == '3rd' && m_host == '평가원'" [(ngModel)]="m_month" placeholder="월 선택">
                            <ion-option selected value="6">
                               6월
                            </ion-option>
                            <ion-option value="9">
                               9월
                            </ion-option>
                            <ion-option value="11">
                                수능
                            </ion-option>
                        </ion-select>  
          <ion-col col-2>
                <ion-buttons end>
                    <button ion-button icon-only (click)="checkGrade(chartView)" >
                        보기
                    </button>
                    </ion-buttons>
                </ion-col>
        </ion-row>
        </div>

        <div *ngIf="chartView==='achievement'">
                
                
            <ion-row >
                <ion-col col-3>
                <ion-buttons end >
                    <button ion-button  icon-only  (click)="leftArrow(view)">  
                            <ion-icon name="arrow-dropleft"></ion-icon>
                    </button>
                </ion-buttons>
                </ion-col>
            
                <div [ngSwitch]="view">
                <ion-title  *ngSwitchCase="'day'" >
                일간 계획 성취도
                </ion-title>
                <ion-title  *ngSwitchCase="'week'" >
                주간 계획 성취도
                </ion-title>
                <ion-title  *ngSwitchCase="'month'" >
                월간 계획 성취도
                </ion-title>
                </div>
            
                <ion-col col-9 push-6>
                <ion-buttons start >
                        <button ion-button  icon-only  (click)="rightArrow(view)">  
                                <ion-icon name="arrow-dropright"></ion-icon>
                        </button>
                </ion-buttons>
                </ion-col>
            </ion-row>

        </div>

        <div *ngIf="chartView==='term'">
                <ion-row >
                        <ion-select  class="term" interface="popover"  [(ngModel)]="term_v1" >
                                <ion-option  value="academic" selected>
                                        내신성적
                                    </ion-option>
                                    <ion-option  value="mock"> 
                                        모의고사
                                    </ion-option>
                                    
                              </ion-select>
                
                <ion-select class="term" interface="popover"  [(ngModel)]="term_v2" >
                        <ion-option  value="1st" selected>
                                1학년
                            </ion-option>
                            <ion-option  value="2nd"> 
                                2학년
                            </ion-option>
                            <ion-option  value="3rd"> 
                                3학년
                            </ion-option>
                      </ion-select>
                   
                    
                          <ion-col col-2 >
                                <ion-buttons end>
                                    <button ion-button icon-only (click)="termGrade()" >
                                        보기
                                    </button>
                                    </ion-buttons>
                                </ion-col>
                        </ion-row>
           
            </div>

 
    <!--<ion-row >
            <ion-select interface="popover"  [(ngModel)]="test" >
                <ion-option *ngFor="let test of category_academic" [value]="test">{{test.name}}</ion-option>
              </ion-select>

              <ion-select *ngIf="test" interface="popover"  [(ngModel)]="test2" >
                <ion-option *ngFor="let test2 of test.children" [value]="test2">{{test2.name}}</ion-option>
              </ion-select>
        </ion-row>
    -->
</ion-toolbar>
</ion-header>



<ion-content>
    

    <div *ngIf="isDataAvailable">
    <!--*********** Bar chart  ***********-->
      <div *ngIf="chartView==='academic'">

        <!--*********** Vertical ***********-->

        <ion-card>
                <ion-card-header>
                  <strong> {{a_title}}</strong>
                </ion-card-header>
                <ion-card-content>
                  <canvas baseChart *ngIf="isDataAvailable"             
                  [datasets]="a_chartDatas"
                  [labels]="a_chartLabels"
                  [legend]="chartLegend"
                  [colors]="barChartColor"
                  [options]="lineChartOptions"
                  chartType="bar">
                      
                  </canvas>
                </ion-card-content>
              </ion-card>

        

          
          <ion-card>
            <ion-card-header>
              전과목 점수 분포
            </ion-card-header>
            <ion-card-content>
                <canvas baseChart
                      [datasets]="a_chartDatas"
                      [labels]="a_radarChartLabels"
                      [colors]="lineChartColors"
                      [options]="radarOption"
                      chartType="radar"
                      
                      >
                </canvas>
            </ion-card-content>
        </ion-card>
      
        <!--*********** Horizontal  ***********-->


        <ion-card>
            <ion-card-header>
              Bar chart(horizontal)
            </ion-card-header>
            <ion-card-content>
              <canvas  baseChart                
                        [data]="a_chartDatas"
                        [labels]="a_chartLabels"
                        [legend]="chartLegend"
                        [colors]="chartColor1"
                        [options]="lineChartOptions"
                        chartType="horizontalBar">
                </canvas>
            </ion-card-content>
          </ion-card>
      </div>
      
    <!--*********** Pie chart  ***********-->

      <div *ngIf="chartView==='mock'">

            <ion-card>
                    <ion-card-header>
                        <strong> {{m_title}}</strong>
                    </ion-card-header>
                    <ion-card-content>
                      <canvas baseChart *ngIf="isDataAvailable"             
                      [datasets]="m_chartDatas"
                      [labels]="m_chartLabels"
                      [legend]="chartLegend"
                      [colors]="barChartColor"
                      [options]="lineChartOptions"
                      chartType="bar">
                          
                      </canvas>
                    </ion-card-content>
                  </ion-card>
    
            <ion-card>
                <ion-card-header>
                  Line Chart
                </ion-card-header>
                <ion-card-content>
                        <canvas baseChart 
                    [datasets]="testData"
                    [labels]="testLabel"
                    [options]="lineChartOptions"
                    [colors]="chartColor3"
                    [legend]="lineChartLegend"
                    chartType="line"
                    ></canvas>
        
                </ion-card-content>
              </ion-card>
    
              
              <ion-card>
                <ion-card-header>
                    <strong> 전과목 점수 분포</strong>
                </ion-card-header>
                <ion-card-content>
                    <canvas baseChart
                          [datasets]="m_chartDatas"
                          [labels]="m_radarChartLabels"
                          [colors]="lineChartColors"
                          [options]="radarOption"
                          chartType="radar"
                          
                          >
                    </canvas>
                </ion-card-content>
            </ion-card>


      </div>


    <!--*********** Line chart  ***********-->
        
        

    <!--*********** More chart  ***********-->
      <div *ngIf="chartView==='achievement'">
        

        <div [ngSwitch]="view">
          
            <ion-card *ngSwitchCase="'day'">
            <ion-card-header >
                
              </ion-card-header>
              <ion-card-content>
                  <ui-knob *ngIf="_DHT22KnobHumidityValue != -1" [options]="_DHT22KnobHumidityOptions[0]" [(value)]="_DHT22KnobHumidityValue"   (click)="changeRange()"></ui-knob>
      
              </ion-card-content>
            </ion-card>
            
            <ion-card *ngSwitchCase="'week'">
                <ion-card-header>
                    <ion-row >
                        <ion-label no-padding no-margin>{{t_title}}</ion-label>
                        <ion-select style="padding-top:0; padding-left:0"  [(ngModel)]="numOfWeek" (ionChange)="refresh()">
                                
                                    <ion-option *ngFor="let week of weeksOfMonth" [value]="weeksOfMonth.indexOf(week)">{{week[6].month}}월 {{weeksOfMonth.indexOf(week)+1}}째주</ion-option>
                              </ion-select>
                    </ion-row>    
        
                </ion-card-header>
                <ion-card-content>
                        <canvas baseChart 
                    [datasets]="weeksOfMonth[numOfWeek].datasets"
                    [labels]="weeksOfMonth[numOfWeek].labels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    chartType="line"
                    ></canvas>
        
                </ion-card-content>
              </ion-card>
              <ion-card *ngSwitchCase="'month'">
                <ion-card-header>
                     
        
                </ion-card-header>
                <ion-card-content>
                        <canvas baseChart 
                    [datasets]="monthDatasets.datasets"
                    [labels]="monthDatasets.labels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    chartType="line"
                    ></canvas>
        
                </ion-card-content>
              </ion-card>

           
        </div>


            
                  




        

        
            <ion-card>
                    <ion-card-header>
                      Pie Chart
                    </ion-card-header>
                    <ion-card-content  no-padding>
                      <canvas baseChart
                              [data]="a_chartDatas"
                              [labels]="a_chartLabels"
                              [colors]="chartColor1"
                             
                              chartType="pie">
                      </canvas>
                    </ion-card-content>
                    
                  </ion-card>
      <!--*********** Doughnut chart  ***********-->    
            <ion-card>
                <ion-card-header>
                  Doughnut Chart
                </ion-card-header>
                <ion-card-content no-padding>
                    <canvas baseChart
                          [data]="chartData"
                          [labels]="chartLabels"
                          [colors]="chartColor1"
                          chartType="doughnut">
                    </canvas>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                  Half Doughnut Chart
                </ion-card-header>
                <ion-card-content no-padding>
                    <canvas baseChart
                          [data]="chartData"
                          [labels]="chartLabels"
                          [colors]="chartColor1"
                          [options]="halfDonutOption"
                          chartType="doughnut">
                    </canvas>
                </ion-card-content>
            </ion-card>
      <!--*********** Radar chart  ***********-->   
            <ion-card>
                <ion-card-header>
                  Radar Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas baseChart
                          [datasets]="lineChartData"
                          [labels]="chartLabels"
                          [colors]="lineChartColors"
                          [options]="radarOption"
                          chartType="radar"
                          
                          >
                    </canvas>
                </ion-card-content>
            </ion-card>
        
      <!--*********** PolarArea chart  ***********-->   
            <ion-card>
                <ion-card-header>
                  PolarArea Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas baseChart
                          [data]="chartData"
                          [legend]="chartLegend"
                          [colors]="chartColor3"
                          chartType="polarArea">
                    </canvas>
                </ion-card-content>
            </ion-card>

      </div>

      <div *ngIf="chartView==='term'">
            
                
                        <ion-card>
                            <ion-card-header>
                                    <ion-row >
                                            <ion-label no-padding no-margin>{{t_title}}</ion-label>
                                            <ion-select style="padding-top:0; padding-left:0"  [(ngModel)]="subject"  (ionChange)="choiceSubject(subject)">
                                                    
                                                        <ion-option *ngFor="let subject of mySubjects" [value]="subject">{{subject}}</ion-option>
                                                  </ion-select>
                                     </ion-row>    
                            
                             
                           
                            </ion-card-header>
                            <ion-card-content>
                                    <canvas baseChart 
                                [datasets]="lineChartData"
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                chartType="line"
                                ></canvas>
                    
                            </ion-card-content>
                          </ion-card>
                
                           <!--[colors]="chartColor1"-->
                         
            
            
                  </div>


    </div>




    <ion-fab right bottom #fab>
        <button ion-fab mini color="dark"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="openChartAddPage(fab,'academic')"><ion-icon name="camera" ></ion-icon> <div class="label">내신성적 입력</div></button>
          <button ion-fab (click)="openChartAddPage(fab,'mock')"><ion-icon name="md-photos" ></ion-icon> <div class="label">모의고사성적 입력</div></button>
        </ion-fab-list>
      </ion-fab>
</ion-content>