
<!--***********  Header with segment  ***********-->
<ion-header>
  
  <ion-toolbar no-border-top color="ios-blue">
       <ion-segment [(ngModel)]="chartView" color="dark">
      <ion-segment-button value="academic">
        내신성적
      </ion-segment-button>
      <ion-segment-button value="mock">
        모의고사성적
      </ion-segment-button>
      <ion-segment-button value="achievement">
        계획성취도
      </ion-segment-button>
    </ion-segment>
    
  </ion-toolbar>
  <ion-toolbar no-border-top color="ios-blue">
    </ion-toolbar>
</ion-header>



<ion-content>

    <div *ngIf="isDataAvailable">
    <!--*********** Bar chart  ***********-->
      <div *ngIf="chartView==='academic'">

        <!--*********** Vertical ***********-->

        <ion-card>
            <ion-card-header>
              Line Chart
            </ion-card-header>
            <ion-card-content>
                    <canvas baseChart 
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="chartColor3"
                [legend]="lineChartLegend"
                chartType="line"
                ></canvas>
    
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              Bar chart(vertical)
            </ion-card-header>
            <ion-card-content>
              <canvas  baseChart                 
                        [data]="chartData"
                        [labels]="chartLabels"
                        
                        [colors]="chartColor1"
                        [options]="lineChartOptions"
                        chartType="bar">
                </canvas>
            </ion-card-content>
          </ion-card>
      
        <!--*********** Horizontal  ***********-->
        <ion-card>
            <ion-card-header>
              Bar chart(horizontal)
            </ion-card-header>
            <ion-card-content>
              <canvas  baseChart                 
                        [data]="chartData"
                        [labels]="chartLabels"
                        [legend]="chartLegend"
                        [colors]="chartColor1"
                        [options]="lineChartOptions"
                        chartType="horizontalBar">
                </canvas>
            </ion-card-content>
          </ion-card>
      </div>
      
    <!--*********** Pie chart  ***********-->

      <div *ngIf="chartView==='mock'">
        <ion-card>
            <ion-card-header>
              Pie Chart
            </ion-card-header>
            <ion-card-content  no-padding>
              <canvas baseChart
                      [data]="chartData"
                      [labels]="chartLabels"
                      [colors]="chartColor1"
                      chartType="pie">
              </canvas>
            </ion-card-content>
            
          </ion-card>
      </div>


    <!--*********** Line chart  ***********-->
        <div *ngIf="chartView==='achievement'">
        
      </div>

    <!--*********** More chart  ***********-->
      <div *ngIf="chartView==='More'">
        
      <!--*********** Doughnut chart  ***********-->    
            <ion-card>
                <ion-card-header>
                  Doughnut Chart
                </ion-card-header>
                <ion-card-content no-padding>
                    <canvas baseChart
                          [data]="chartData"
                          [labels]="chartLabels"
                          [colors]="chartColor1"
                          chartType="doughnut">
                    </canvas>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                  Half Doughnut Chart
                </ion-card-header>
                <ion-card-content no-padding>
                    <canvas baseChart
                          [data]="chartData"
                          [labels]="chartLabels"
                          [colors]="chartColor1"
                          [options]="halfDonutOption"
                          chartType="doughnut">
                    </canvas>
                </ion-card-content>
            </ion-card>
      <!--*********** Radar chart  ***********-->   
            <ion-card>
                <ion-card-header>
                  Radar Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas baseChart
                          [datasets]="lineChartData"
                          [labels]="chartLabels"
                          [colors]="lineChartColors"
                          [options]="radarOption"
                          chartType="radar"
                          
                          >
                    </canvas>
                </ion-card-content>
            </ion-card>
        
      <!--*********** PolarArea chart  ***********-->   
            <ion-card>
                <ion-card-header>
                  PolarArea Chart
                </ion-card-header>
                <ion-card-content>
                    <canvas baseChart
                          [data]="chartData"
                          [legend]="chartLegend"
                          [colors]="chartColor3"
                          chartType="polarArea">
                    </canvas>
                </ion-card-content>
            </ion-card>

      </div>
    </div>

    <ion-fab right bottom>
        <button ion-fab mini color="dark"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="openGallery2()"><ion-icon name="camera" ></ion-icon> <div class="label">내신성적 입력</div></button>
          <button ion-fab (click)="openGallery()"><ion-icon name="md-photos" ></ion-icon> <div class="label">모의고사성적 입력</div></button>
        </ion-fab-list>
      </ion-fab>
</ion-content>